<!DOCTYPE html>
<html>
<head>
  <title>San Francisco Students</title>
</head>
<body>
	<h1>San Francisco Students List</h1>
	<ul>
	<% @students.each do |student| %>
		<% if student['campus'] == "SF" %>
		<li><%= student['name'] %>, <%= student['age'] %></li>
		<% end %>
		<% end %>
	</ul>
</body>
</html>