.octopus {
  position: relative;
}

#octopus {
  position: absolute;
  margin: auto;
  top: 75px;
  left: 160px;
  z-index: -1;
}


#hat {
  position: absolute;
  top: 0px;
  left: 140px;
}

#glasses {
  position: absolute;
  top: 175px;
  left: 200px;

  
}